registry=https://registry.npmmirror.com/
auto-install-peers=true # 自动安装包的 Peer Dependencies（对等依赖）
shamefully-hoist=true # 提升所有依赖到根 node_modules
strict-peer-dependencies=false # 如果某个包的 peerDependencies 未被显式安装，pnpm 不会报错，而是静默忽略
package-manager-strict=false # 不强制使用 pnpm
ignore-workspace-root-check=true